HTML {
	background-color:#FFFFFF;
	background-image: url('/content/realXtend/realXtend_background.png');
	background-position:top left;
	background-attachment:fixed;
	background-repeat:no-repeat;
} 

BODY {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font:Verdana;
	font-size:12px;
	color:#000000;
	background-color:transparent;
	padding: 0px;
}

.block {
	border: 1px;
	border-style: dashed;
	border-color: #00006F;
	padding: 20px;
}
