<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />		
		<title>Login</title>
		<link rel="StyleSheet" href="/content/style.css" type="text/css">
	</head>
<body>
	<div id="wrap" class="clearfix">
	<img src="/content/rexheader_small.png" align="center">
		{if $has_error}
			<div class="error">
				{$error}
			</div>
			<br/>
		{/if}
		
		{if $has_message}
			<div class="message">
				{$message}
			</div>
			<br/>
		{/if}
		
		<form method="post">
			<label for="openid_identifier">OpenID URL:</label>
			<input type="text" name="openid_identifier" id="openid_identifier" style="background-repeat:no-repeat;background-position:0 50%;background-image:url(/content/openid-16x16.png);padding-left:18px;border-style:solid;border-width:1px;border-color:lightgray;" />
			
			<input type="submit" value="Login">
		</form>
	
	</div>
</body>
</html>
