* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background: #fff repeat-x top left;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
}

.clearfix:after {	
	content: ".";	
	display: block;	
	height: 0;	
	clear: both;	
	visibility: hidden;
}

a, a:visited {	
	color: #0860A8;	
	text-decoration: none;
}

* img {
	border: none;
}

a:hover {
	color: #3399FF;
}

#footer a, #footer a:visited {
	color: #eee;
	border-bottom: 1px dotted #eee;
}

#footer a:hover {
	color: #fff;
}

abbr {
	border-bottom: 1px dotted #999;
}

hr {
	border: 0px;
	color: none;
	background: none;
	border-bottom: 1px dotted #aaa;
	height: 0px;
	margin: 1em 0;
}

img.icon {
	vertical-align: middle;
	margin-right: 3px;
}

#wrap {
	background: #fff;
	border: 5px solid #3399FF;
	margin: 30px auto 1em;
	text-align: left;
	width: 600px;
	padding: 2em;
}

#header {
	padding: 10px 0 5px;
	text-align: center;
	background: #222;
	color: #ddd;
	line-height: 1.6em;
	font-size: 10px;
	border-bottom: 4px solid #99cc66;
}

#footer {
	color: #eee;
}

#flash-message, #feedback_thanks {
	margin: 0 0 20px 0;
	background: #D4ECB8;
	border: 1px solid #99CC66;
	padding: 8px 15px;
	line-height: 1.7em;
}

#flash-error {
	margin: 0 0 20px 0;
	background: #FF6966;
	border: 1px solid #FF4A47;
	padding: 8px 15px;
	line-height: 1.7em;
}

.error {
	background: #FFE5E5;
	padding: 5px 10px;
	color: #FF4747;
	font-weight: bold;
}

.message {
	background: #DAF0D1;
	padding: 6px 10px;
	color: #555;
	font-weight: bold;
}

.mb {
	margin-bottom: 1.5em;
}

label {
	display: block;
	margin-bottom: 4px;
	color: #888;
}

input[type=text], input[type=password] {
	color: #333;
	margin-bottom: 7px;
	background: #fff;
    border: 1px solid #ccc;
	padding: 5px;
	width: 65%;
}

input[type=submit] {
    background: #eee;
    border: 3px double #ccc;
    padding: 2px;
    font-size: 1em;
	width: 33%;
}

input:focus {
	background-color: #FFFFCC;
}

select {
	margin-bottom: 8px;
	background: #fff;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1em;
	width: 90%;
}

form br {
	clear: left;
	display: block;
	margin-bottom: 1em;
}

form div.column {
	float: left;
	margin-right: 20px;
	width: 45%;
}
